*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    letter-spacing: 5px;
}
/****** Global CSS ******/
:root {
    --primary-color: #354649;
    --secondary-color: #6C7A89;
    --lite-blue: #A3C6C4;
    --lite-grey: #E0E7E9;
}
section{
    min-height: 80vh;
}
.container {
    margin: 1rem 4rem;
    padding: 1rem;
}
a {
    text-decoration: none;
    transition: all .3s ease;
}
a:hover {
    color: var(--lite-blue) !important;
}
li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6,span,a,li,p {
    font-family: 'Lato', sans-serif;
}
h6 {
    font-size: 1.2rem;
    margin: .5rem auto;
}
h2 {
    font-weight: 600;
    font-size: 4rem;
}

.section-title h3 {
    position: relative;
    width: max-content;
    font-size: 2rem;
    font-weight: 700;
}
.section-title h3::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -4px;
    background-color: #111;
}
/****** Global CSS ******/
.hero {
    width: 100%;
    min-height: 85vh;
    background-image: linear-gradient(rgba(0,0,0, .65),rgba(0,0,0, .65)),url(images/hero.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}
.hero .logo {
    width: 4rem;
    cursor: pointer;
}
nav  {
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    width: 100%;
}
nav ul {
    flex: 1;
    text-align: right;
}

nav a {
    color: #fff;
    font-weight: 600;
}

nav .navbar-toggler {
    display: none;
    border: none;
    outline: none;
}
nav .navbar-toggler .toggler-icon {
    width: 27px;
    height: 3px;
    background-color: var(--lite-grey);
    margin: 5px 0;
    position: relative;
    display: block;
    transition: all .3s ease-out 0s;
}
nav .menu-bar .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav .menu-bar .menu-items li {
    margin: 0 15px;
}
nav .menu-bar .menu-items li:hover a {
    position: relative;
}
nav .menu-bar .menu-items li a:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -5px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}
nav .menu-bar .menu-items li:hover a::after {
    transform: scaleX(1);
}
nav .menu-bar .menu-items li a:hover {
color: var(--lite-blue);
}

#left-col a {
    letter-spacing: .2rem;
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}
#left-col {
    transform: rotate(90deg) translate(-100%);
    transform-origin: left;
    position: absolute;
    bottom: 0;
    left: 5%;
}
.line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9%;
    width: 2px;
    background: rgba(255, 255, 255, 0.3);
}
#middle-col {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    margin: 8% auto auto;
}
#middle-col .info a {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
#middle-col .info a img {
    width: 1rem;
    margin-right: 15px;
}
#middle-col .info {
    position: relative;
}
#middle-col .info::before {
    content: '';
    background: rgba(255,255,255, .6);
    height: 100%;
    width: 2px;
    position: absolute;
    top: 5px;
    left: -30px;
}
@media screen and (max-width: 946px) {
    nav {
        padding: 1rem;
    }
    nav .navbar-social {
        display: none !important;
    }
}
@media screen and (max-width: 774px) {
    .container {
        margin: 1rem;
        padding: .5rem;
    }
    .line {
        left: 12%;
    }
    #middle-col {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem;
    }
    #middle-col .info {
        margin-top: 4rem;
    }
    #middle-col .info::before {
        content: '';
        background: transparent;
        height: 100%;
        width: 2px;
        position: absolute;
        top: 5px;
        left: 0;
    }
    nav {
        padding: .7rem 1rem;
    }
    nav .navbar-toggler {
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 9999;
    }
    nav .menu-bar {
        position: fixed;
        z-index: 3;
        top: 55px;
        right: -360px;
        width: 300px;
        height: 100vh;
        background-color: rgba(256, 256, 256, .9);
        transition: all .5s ease;
    }
    nav .menu-bar .menu-items {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    nav .menu-bar .menu-items li {
        margin: 2rem 30px;
    }
    nav .menu-bar .menu-items li a {
        color: var(--primary-color);
    }
}
@media only screen and (max-width: 541px) {
    .hero h2 {
        font-size: 2.5rem;
    }
    .hero h6 {
        font-weight: 400;
        font-size: .9rem;
    }
    .line {
        display: none;
    }
    #middle-col {
        width: 100%;
        margin: 8% auto auto;
        padding: 2rem;
    }
    #left-col {
        transform: rotate(0deg) translate(-5%);
        transform-origin: left;
        position: absolute;
        bottom: 40px;
        left: 5%;
    }
    #left-col a {
        font-size: .7rem;
    }
}
/********** Services Section ********/
    .mainBox {
        width: 100%;
        height: 380px;
        text-align: center;
        position: relative;
        cursor: pointer;
        margin: 3rem 1.5rem 1.5rem;
    }
    .serviceItem {
        background: var(--primary-color);
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        padding: 1rem;
        text-align: justify;
        z-index: 1;
        line-height: 1.5;
        color: var(--lite-grey);
    }
    .services-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 4rem auto;
    }
    .service-logo {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: -90px auto 0;
        background: var(--primary-color);
        border: 18px solid #fff;
    }
    .service-logo img {
        width: 60%;
        margin-top: 20px;
        margin-left: 20px;
    }
    .serviceItem h5 {
        height: 35px;
        width: 80%;
        background: #354649;
        position: relative;
        text-align: center;
        margin: 50px auto 2rem;
    }
    .serviceItem h5::after {
        content: '';
        width: 40px;
        height: 30px;
        background: linear-gradient(to right, #354649, #A3C6C4);
        position: absolute;
        right: -5px;
        top: -5px;
        z-index: -1;
    }
.serviceItem h5::before {
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #A3C6C4, #354649);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}
@media screen and (max-width: 946px) {
    .product-list {
        flex-direction: column;
    }
    .mainBox {
        max-width: 400px;
        height: 380px;
        text-align: center;
        position: relative;
        cursor: pointer;
        margin: 5.5rem .5rem;
    }
    .services-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 6rem auto 4rem;
    }
}
@media screen and (max-width: 456px) {
    .mainBox {
        max-width: 400px;
        height: 380px;
        text-align: center;
        position: relative;
        cursor: pointer;
        margin: 5.5rem;
    }
    .services-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 8rem auto 4rem;
    }
}

/********** Services Section ********/
/********** Products Section ********/
.product-list {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.product-card {
    margin: 3rem auto;
    color: #fff;
    background-image: url(images/product.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 57ch;
    width: 100%;
    border-radius: .8rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.product-card:hover,
.product-card:focus-within {
    transform: scale(1.05);
}

.product-card .card-content {
    --padding: 1rem;
    padding: var(--padding);
    background: linear-gradient( hsl(0 0% 0% / .0), hsl(20 0% 0% / .3), hsl(0 0% 0% / 1));
}

.card-title {
    position: relative;
    width: max-content;
    font-weight: 700;
    font-size: 1.5rem;
}
.product-card .card-title::after {
    content: '';
    position: absolute;
    height: 3px;
    left: calc(var(--padding) * -1 );
    bottom: -4px;
    width: calc(100% + var(--padding));
    background: var(--lite-grey);
    transform-origin: left;
    transition: transform 500ms ease;
}

.product-card:hover .card-title::after,
.product-card:focus-within .card-title::after{
    transform: scaleX(1);
}
.card-body {
    margin: .8rem 0;
    line-height: 1.2;
}

@media (hover) {
    .product-card .card-content {
        transform: translateY(70%);
        transition: transform 500ms ease;
    }
    .product-card:hover .card-content,
    .product-card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 500ms;
    }
    .product-card:focus-within  .card-content {
        transition-duration: 0ms;
    }
    .product-card .card-content > *:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .product-card:hover .card-content > *:not(.card-title),
    .product-card:focus-within .card-content > *:not(.card-title) {
        opacity: 1;
        transition-delay: 500ms;
    }
    .product-card .card-title::after {
        transform: scaleX(0);
    }
}
.product-card .button {
    cursor: pointer;
    display: inline-block;
    margin: .8rem 0;
    color: var(--primary-color);
    background: var(--lite-grey);
    padding: .5rem .8rem;
    border-radius: 5px;
    transition: all .3s ease;
}
.product-card .button:hover,
.product-card .button:focus {
    color: var(--lite-grey);
    background: var(--primary-color);
}
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}
/********* Article Section ************/
#articles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#articles .thumbnail {
    min-width: 30rem;
    max-width: 30rem;
    height: 20rem;
    transform: translateX(-8rem);
    position: relative;
}
#articles .thumbnail::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 1.2rem 1px rgba(0,0,0, .3);
    border-radius: .8rem;
}
#articles .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}
.blog-post {
    width: 100%;
    max-width: 68rem;
    padding: 3rem;
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0,0,0, .2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin-top: 5rem;
}
/*.blog-date span {*/
/*    display: block;*/
/*    color: var(--primary-color);*/
/*    font-size: 1.1rem;*/
/*    font-weight: 600;*/
/*    margin: .5rem 0;*/
/*}*/
.blog-author-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.blog-author-details .author {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
}
.blog-author-details .author img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blog-author-details .name-date {
    display: flex;
    flex-direction: column;
}
.blog-author-details .name-date span {
    font-size: .8rem;
    margin: .7rem 0;
}
.blog-post-title {
    font-size: 2rem;
    font-weight: 600;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: var(--primary-color);
}
.blog-post-excerpt {
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}
.blog-btn {
    display: inline-block;
    padding: .8rem 1.5rem;
    letter-spacing: 2px;
    font-size: .9rem;
    color: var(--lite-blue);
    background-color: var(--primary-color);
    border-radius: .5rem;
    transition: all .3s ease;
}
.blog-btn:hover {
    color: var(--primary-color) !important;
    background: var(--secondary-color);
}

@media only screen and (max-width: 768px){
    #articles-sec .section-title {
        margin-bottom: 4rem;
    }
    .blog-post {
        padding: 1.5rem;
        flex-direction: column;
        margin-bottom: 5rem;
    }
    .blog-post .thumbnail {
        min-width: 100% !important;
        max-width: 100% !important;
        transform: translate(0, -5rem) !important;
    }
    .blog-post-title {
        font-size: 1.5rem;
    }
}
/********* Article Section ************/
